.app{
  min-height:100vh;
  background: rgb(196, 211, 226);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet{
  height: 300px;
  width: 300px;
  background: whitesmoke;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  }

h3{
  color: rgb(136, 9, 136);
}  

.red{
  color: red;
  font-size: 80px;
  
}